Tests:

apex_state[1] = 2.0 # height
apex_state[4] = 0.5 # leg length

Energy apex:    33.5915
Energy bottom:  49.8246497234

===================================

apex_state[1] = 2.5 # height
apex_state[4] = 0.5 # leg length

Energy apex:    38.987
Energy bottom:  68.810744759

===================================

apex_state[1] = 3.0 # height
apex_state[4] = 0.5 # leg length

Energy apex:    44.3825
Energy bottom:  86.828222652

===================================

apex_state[1] = 3.5 # height
apex_state[4] = 0.5 # leg length

Energy apex:    49.778
Energy bottom:  104.539675594

